@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.progress {
    background-color: #D8D8D8;
    border-radius: 30px;
    height: 30px;
    width: 300px;
}

.progress-done {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #F2709C, #FF9472);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 30px;
    color: #FFF;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease;
}